<h5><%= f.label :name, "姓名" %></h5>
<%= f.text_field :name, class: 'form-control' %>

<h5><%= f.label :email, "邮箱" %></h5>
<%= f.text_field :email, class: 'form-control' %>

<h5><%= f.label :password, "密码" %></h5>
<%= f.password_field :password, class: 'form-control' %>

<h5><%= f.label :password_confirmation, "重复密码" %></h5>
<%= f.password_field :password_confirmation, class: 'form-control' %>
