<tr id="user_<%= user.id %>">
  <td id="user_<%= user.id %>_name"><%= user.name %></td>
  <td id="user_<%= user.id %>_email"><%= user.email %></td>
  <td><%= link_to fa_icon('pencil'), edit_admin_user_path(user, format: :json), remote: true, class: "editUserLink" %></td>
  <td><%= link_to fa_icon('trash-o'), admin_user_path(user), method: :delete, remote: true, data: { confirm: '确认删除?' } %></td>
</tr>