<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= admin_full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "admin" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Project name", "#", class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <%= content_tag(:li, :class => "#{is_active_controller('admin/dashboards')}") do %>
              <%= link_to fa_icon("tachometer", text: "控制台"), admin_root_path %>
            <% end %>

            <%= content_tag(:li, :class => "#{is_active_controller('admin/infos')}") do %>
              <%= link_to fa_icon("newspaper-o", text: "新闻管理"), admin_infos_path %>
            <% end %>

            <%= content_tag(:li, :class => "#{is_active_controller('admin/users')}") do %>
              <%= link_to fa_icon("user", text: "管理者"), admin_users_path %>
            <% end %>
          </ul>
          <ul class="nav nav-sidebar">
            <%= content_tag(:li, :class => "#{is_active_controller('admin/uploads')}") do %>
              <%= link_to fa_icon("cloud-upload", text: "图片上传"), admin_uploads_path %>
            <% end %>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
